


<form action="action_page.php" method="post">
  


 <body>


  <div class="wrapper">
    <form action="">
      <h1>Prisijungimas</h1>
      <div class="input-box">
        <input type="text" placeholder="Elektroninis paštas" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Slaptažodis" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Prisiminti mane</label>
        <a href="#">Pamiršau slaptažodį</a>
      </div>
      <button type="submit" class="btn">Prisijungti</button>
      <div class="register-link">
        <p>Neturiu paskyros? <a href="/registracija">Registracija</a></p>
      </div>
    </form>
  </div>


</body>



</form>




