





<form action="action_page.php">
  <body>

  <div class="wrapper">
    <form action="">
      <h1>Registracijos langas</h1>
      <div class="input-box">
        <input type="text" placeholder="Vardas" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Pavardė" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Elektroninis paštas" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Slaptažodis" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Pakartuoti slaptažodį" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <button type="submit" class="btn">Registruotis</button>
      <div class="register-link">
        <p>Turite susikūrę paskyrą? <a href="/prisijungti">Prisijunkite</a></p>
      </div>
    </form>
  </div>

</body>
</form>


