<h2 mat-dialog-title>Papildomos paslaugos</h2>
<div mat-dialog-content>
  <div class="sample-item">
    <p>Papildomas Bagažas</p>
    <mat-checkbox></mat-checkbox>
  </div>
  <div class="sample-item">
    <p>Kelionės draudimas</p>
    <mat-checkbox></mat-checkbox>
  </div>
  <div class="sample-item">
    <p>Bagažo draudimas</p>
    <mat-checkbox></mat-checkbox>
  </div>
  <div class="sample-item">
    <p>Express Kelionė</p>
    <mat-checkbox></mat-checkbox>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>
