<body>
  <div class="container">
    <form>
      <div>
        <label for="pradziosTaskas">Pasirinkite kelionės pradžios tašką:</label>
        <select id="pradziosTaskas" [(ngModel)]="pasirinktasPradziosTaskas">
          <option value="Merkurijus">Merkurijus</option>
          <option value="Venus">Venus</option>
          <option value="Žeme">Žeme</option>
          <option value="Marsas">Marsas</option>
          <option value="Jupiteris">Jupiteris</option>
          <option value="Saturnas">Saturnas</option>
          <option value="Uransas">Uransas</option>
          <option value="Neptūnas">Neptūnas</option>

        </select>
        <label for="pabaigosTaskas">Pasirinkite kelionės pabaigos tašką:</label>
        <select id="pabaigosTaskas" [(ngModel)]="pasirinktasPabaigosTaskas">
          <option value="Merkurijus">Merkurijus</option>
          <option value="Venus">Venus</option>
          <option value="Žeme">Žeme</option>
          <option value="Marsas">Marsas</option>
          <option value="Jupiteris">Jupiteris</option>
          <option value="Saturnas">Saturnas</option>
          <option value="Uransas">Uransas</option>
          <option value="Neptūnas">Neptūnas</option>
        </select>
      </div>
      <div>
        <label for="ivykimoData">Pasirinkite išvykimo datą:</label>
        <input type="date" id="ivykimoData" [(ngModel)]="pasirinktaData">
      </div>
      <div class="button-container">
        <button class="button1" (click)="pasirinktiNuomotiAutomobili()">Nuomotis automobilį</button>
        <button class="button1" (click)="pasirinktiRegistruotiBagaza()">Registruoti bagažą</button>
        <button class="button1" (click)="pasirinktiNuomuotiViesbuti()">Nuomuotis viešbutį</button>
        <button class="button1" (click)="pasirinktiPridetiPapildomasPaslaugas()">Pridėti papildomas paslaugas</button>
      </div>
      <button class="button2" (click)="submitForm()" type="submit">Išsaugoti</button>

      <br>
      <div style="margin: auto">
        <b style="font-size: 25px">ARBA</b>
      </div>

      <br>
      <div style="align-content: center">
        <a href="/marsrutogeneravimas.component.html">
          <button class="button2" (click)="pasirinktiGeneruotiMarsruta()">Generuoti maršrutą pagal horoskopo ženklą</button>
        </a>
      </div>
    </form>
  </div>
</body>


