<style>
  /* Navbar styles */
  .navbar {
    background-color: #45a049; /* Set background color */
    overflow: hidden; /* Ensure proper rendering in older browsers */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
    height: 30px; /* Set navbar height to 30px */
    padding: 20px; /* Increase padding */
  }

    .navbar .navbar-left {
      order: -1; /* Move to the left */
      font-size: 24px; /* Set font size to 24px */
    }

    .navbar a {
      color: white; /* Set text color */
      text-align: center; /* Center-align the text */
      padding: 14px 16px; /* Add padding */
      text-decoration: none; /* Remove underline from links */
      transition: background-color 0.3s; /* Smooth transition */
    }

      .navbar a:hover {
        text-decoration: underline; /* Remove underline from links */
      }
</style>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-left">
    <a class="nav-item nav-link" routerLink="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Saturnx.png/1200px-Saturnx.png" alt="Logo" style="height: 30px; margin-right: 10px;">
      KOSMINIAI MARŠRUTAI
    </a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/planas">Planuoti kelionę</a>
    <!--<a class="nav-item nav-link" routerLink="/kel-perziura">Išsaugoti planai</a>-->
    <a class="nav-item nav-link" routerLink="/manokeliones">Mano kelionės</a>
    <a class="nav-item nav-link" routerLink="/mars-perziura">Maršruto peržiūra</a>
    <a class="nav-item nav-link" routerLink="/serveriu-stebejimas">Serverių stebėjimas</a>
    <a class="nav-item nav-link" routerLink="/kajutes-planavimas">Kajutės planavimas</a>
    <a class="nav-item nav-link" routerLink="/profilio-langas">Profilis</a>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
