<html>

 <body>
<div class="bgimage"></div>


  <br>

  <h1 align="center">Planetų transporto priemonių pasiūlymai</h1>
  <br>

 
  
<button (click)="onclick1()" type="button" ><img src="../assets/mercury.png" width="40" align="left" /><span>Merkurijus</span></button>
<input type="date" id="start" name="trip-start" />
  <input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible1">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>

<button (click)="onclick2()" type="button" ><img src="../assets/venus.png" width="40" align="left" /><span>Venera</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible2">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
 </ng-container>

 

<button (click)="onclick3()" type="button" ><img src="../assets/earth.png" width="40" align="left" /><span>Žemė</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible3">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>


<button (click)="onclick4()" type="button" ><img src="../assets/mars.png" width="40" align="left" /><span>Marsas</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible4">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>


<button (click)="onclick5()" type="button" ><img src="../assets/jupiter.png" width="40" align="left" /><span>Jupiteris</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible5">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>


<button (click)="onclick6()" type="button" ><img src="../assets/saturn.png" width="40" align="left" /><span>Saturnas</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible6">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>


<button (click)="onclick7()" type="button" ><img src="../assets/uranus.png" width="40" align="left" /><span>Uranas</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible7">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>


<button (click)="onclick8()" type="button" ><img src="../assets/neptune.png" width="40" align="left" /><span>Neptūnas</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible8">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>


<button (click)="onclick9()" type="button" ><img src="../assets/pluto.png" width="40" align="left" /><span>Plutonas</span></button>
<input type="date" id="start" name="trip-start" />
<input type="date" id="start" name="trip-start" />
<ng-container *ngIf="visible9">
  <br><br>
  <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Transportas traukiniu</label><br>
  <input type="radio" id="vehicle2" name="vehicle1" value="Car">
  <label for="vehicle2">Transportas automobiliu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas laivu</label><br>
  <input type="radio" id="vehicle3" name="vehicle1" value="Boat">
  <label for="vehicle3">Transportas lėktuvu</label><br><br>
</ng-container>
  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>

    <script >
      document.getElementById("demo").innerHTML = "Hello JavaScript!";
      </script> 
    


</body>


</html>



