<style>
  h1 {
    text-align: left;
    color: #45a049;
    margin-left: 40px;
  }

  h3 {
    text-align: left;
    color: #8fa190;
    margin-left: 40px;
  }

  .flex-container {
    margin-left: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: left;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 5px 5px #8fa190;
    padding: 25px;
    flex-direction: column;
  }

  img {
      height: 40px;
      width: 40px;
  }

  .arrow {
    height: 20px;
    width: 20px;
  }

  .flex-item {
    margin-bottom: auto;
  }
</style>

<br />
<h1>Jūsų užsakytos kelionės</h1>
<h3>Redaguokite savo artėjančius skrydžius</h3>

<div class="flex-container">
  <div>
    <b>Nėra užsakytų kelionių</b>
  </div>
  
  
  <div style="margin-bottom: auto">
    <p>Įveskite rezervacijos numerį, jei norite rasti savo užsakymą, arba suplanuokitę naują kelionę!</p>
  </div>
  <a href="/planas">
    <button>
      Planuoti naują kelionę
    </button>
   </a>
    <button>Rasti užsakymą</button>
</div>

<br />
<h3>Jūsų kelionių istorija</h3>
<div>
  <b>Saturnas - Žemė</b>
  <p>Sausio 1 - Rugpjūčio 30 • Rezervacijos numeris: SATZEM • Du asmenys</p>
</div>

<br />
<div>
  <b>Marsas - Saturnas</b>
  <p class="flex-item">Spalio 22 - Gruodžio 22 • Rezervacijos numeris: MARSAT • Vienas asmuo</p>
</div>

<br />
<div>
  <b>Žemė - Marsas</b>
  <p>Birželio 3 - Rugsėjo 2 • Rezervacijos numeris: ZEMSAT • Vienas asmuo</p>
  <img src="../../assets/earth.png" />
  <img class="arrow" src="../../assets/arrow.png" />
  <img src="../../assets/mars.png" />
</div>
