<style>
  h1 {
    text-align: left;
    color: #45a049;
    margin-left: 40px;
  }

  h3 {
    text-align: left;
    color: #8fa190;
    margin-left: 40px;
  }

  div {
    margin-left: 40px;
    display: block; 
    align-items: center; 
    width: 90%;
    background-color: white;
    box-shadow: 0 0 5px 5px #8fa190;
    padding: 25px; 
  }
</style>

<br />
<h1>Jūsų užsakytos kelionės</h1>
<h3>Redaguokite savo artėjančius skrydžius</h3>

<div>
  <b>Nėra užsakytų kelionių</b>
  <br />
  <p>Įveskite rezervacijos numerį, jei norite rasti savo užsakymą, arba suplanuokitę naują kelionę!</p>
  <button>
    Planuoti naują kelionę
  </button>
  <button>Rasti užsakymą</button>
</div>
